[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
tornado = "*"
flask = {extras = ["async"], version = "*"}
aiohttp = "*"
requests = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
